/*GLOBAL */
* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    background-color: #F2F2F2;
    color: #666;
    font-size: 16px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

a:hover {
    transition: all 0.2s ease 0s;
}

.container {
    width: 75%;
    max-width: 1500px;
    margin: 0 auto;
}

.clear::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* HEADER */
.topbar {
    background-color: rgba(0,0,0,0.1);
    padding: 5px;
    margin: 0;
    color: white;
    text-align: center;
}

header {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #96B011;
    color: white;
}

#cart {
    text-align: right;
    margin-top: 30px;
}

#cart i {
    padding: 10px 25px 0 10px;
    font-size: 3em;
    opacity: 0.5;
}

#cart span {
    display: block;
    font-weight: bold;
    font-size: .7em;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header a[href^="index"] img {
    padding: 25px;
}

header nav a {
    color: white;
    padding: 10px 15px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

header nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


header nav a:visited {
    color: white;
}

ul, li {
    list-style-type: none;
}

/* MAIN */
.tea {
    cursor: pointer;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    margin-right: -4px;
}

.tea h3 {
    font-size: 1em;
    font-weight: normal;
    font-family: "Amaranth", sans-serif;
}

#slider h2 {
    position: absolute;
    font-weight: normal;
    font-family: "Amaranth", sans-serif;
    background-color: rgba(150, 176, 17, 0.75);
    color: white;
    padding: 15px 30px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

#slider h2:hover {
    background-color: rgba(150, 176, 17, 0.9);
    transition: all 0.2s ease 0s;
}

#slider span {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 0.6em;
}

#slider, #select, #new, #best, #crush {
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 50px 0;
}

#select:hover > article {
    transition: all 0.2s ease 0s;
    opacity: 0.5;
}

#select:hover > article:hover {
    transition: all 0.2s ease 0s;
    opacity: 1;
}

#select h1, #news h2 {
    font-weight: normal;
    font-family: "Amaranth", sans-serif;
    margin: 0 0 15px;
}

#news {
    text-align: center;
    display: flex;
}

#news article+article {
    margin-left: 2%;
}

#new, #best, #crush {
    width: 32%;
}

#new h2, #best h2, #crush h2 {
    background-image: url(img/title.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 10px 0 10px 40px;
    margin: -15px -15px 15px;
    color: white;
    font-weight: normal;
    text-align: left;
    font-size: 1.4em;
}

#new h2 {
    background-color: #E26A6A;
}

#best h2 {
    background-color: #F4B350;
}

#crush h2 {
    background-color: #4ECDC4;
}

/* PRODUCT */
#product h2 {
    font-weight: normal;
    font-family: "Amaranth", sans-serif;
}

#product img {
    border-radius: 50%;
    margin: 10px 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.cta {
    background-color: #96b011;
    padding: 15px;
    color: white;
}

/* FOOTER */
footer {
    margin-top: 50px;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-color: #96B011;
    color: white;
}

#info {
    background-color: rgba(0,0,0,0.1);
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

#info article {
    cursor: pointer;
    transition: all 0.2s ease 0s;
}

#info article:hover {
    color: white;
    transition: all 0.2s ease 0s;
}

#info i {
    display: block;
    text-align: center;
    font-size: 2em;
    padding-bottom: 5px;
}

#bottombar {
    display: flex;
    text-align: center;
}
#bottombar article {
    width: 32%;
    font-size: 0.9em;
}

#bottombar article+article {
    margin-left: 2%;
}

#bottombar article h2 {
    font-weight: normal;
    font-size: 13pt;
    font-family: "Amaranth", sans-serif;
    text-transform: uppercase;
}

#bottombar ul {
    margin-left: -40px;
}

#bottombar article ul li {
    cursor: pointer;
    list-style-type: none;
    line-height: 2;
    opacity: 0.7;
    transition: all 0.2s ease 0s;
}

#bottombar article ul li:hover {
    opacity: 1;
    transition: all 0.2s ease 0s;
}

/* Écran inférieur à 1024px */
@media screen and (max-width: 1024px) {
    #news {
        flex-flow: column;
    }

    #new, #best, #crush {
        width: 100%;
    }

    #bottombar article {
        width: 100%;
        text-align: center;
    }
}

/* Écran inférieur à 640px */
@media screen and (max-width: 640px) {
    #cart {
        display: none;
    }

    #slider h2 {
        position: static;
        margin-top: 0;
    }

    .tea {
        width: 100%;
    }

    header nav, #info {
        flex-direction: column;
        text-align: center;
    }
    
    header nav ul {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    
    header nav ul li {
        margin-bottom: 30px;
        width: 100%;
    }

    header nav ul li a {
        display: block;
    }

    #info article {
        padding: 10px;
    }

    #bottombar {
        flex-flow: column;
    }

    #bottombar article + article {
        margin-left: inherit;
    }

    #bottombar article ul li {
        padding: 10px;
    }
}
